{% extends "layout.html" %}
{% block title %}spectrum{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.8/vega.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.3/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-rc7/vega-embed.js"></script>
    <style media="screen">
    /* add space between vega-embed links  */
    .vega-actions a {margin-right: 5px;}
    </style>
{% endblock %}
{% block content %}
<h1>spectrum {{ spectrum_id }}</h1>
{% include 'spectrum_plot.html' %}
{% endblock %}
